body {
    background-color: rgb(21, 18, 37);
    overflow-x: hidden;
}

.HomepageTitle {
    font-family:sans-serif;
    color: #e44856;
    letter-spacing: -1px;
    font-weight: 800;
    font-size: 250%;
    position: relative;
    left: 75px;
}

.HomepageHeader {
    font-family:sans-serif;
    color: #e44856;
    letter-spacing: -1px;
    font-weight: 800;
    font-size: 175%;
    position: relative;
    left: 75px;
    top: 150px;
}

.HomepageInfoTitle {
    font-family:sans-serif;
    color: #ffffff;
    letter-spacing: -1px;
    font-weight: 600;
    font-size: 250%;
    position: relative;
    left: 75px;
    top: 150px
}

.HomepageInformation {
    font-family:sans-serif;
    color: #ffffff;
    letter-spacing: -1px;
    font-weight: 500;
    font-size: 125%;
    position: relative;
    left: 75px;
    top: 150px
}

.TwitterImage {
    width: 40px;
    position: relative;
    top: 170px;
    left: 74px;
    border: solid;
    border-radius: 50%;
    border-width: 2px;
    height: 40px;
    box-sizing: content-box;
    border-color: #f12334;
    padding: 5px;
    
}

.DiscordImage {
    width: 40px;
    position: relative;
    top: 170px;
    left: 90px;
    border: solid;
    border-radius: 50%;
    border-width: 2px;
    height: 40px;
    box-sizing: content-box;
    border-color: #f12334;
    padding: 5px;
}

.Holder {
    position: relative;
    left: 20px;
    top: 30px
}