body {
    background-color: rgb(21, 18, 37);
    overflow-x: hidden;
}

.HomepageTitle {
    font-family:sans-serif;
    color: #e44856;
    letter-spacing: -1px;
    font-weight: 800;
    font-size: 250%;
    position: relative;
    left: 100px;
}

.HomepageHeader {
    font-family:sans-serif;
    color: #e44856;
    letter-spacing: -1px;
    font-weight: 800;
    font-size: 175%;
    position: relative;
    left: 100px;
    top: 150px;
}

.HomepageInfoTitle {
    font-family:sans-serif;
    color: #ffffff;
    letter-spacing: -1px;
    font-weight: 600;
    font-size: 250%;
    position: relative;
    left: 100px;
    top: 150px
}

.HomepageInformation {
    font-family:sans-serif;
    color: #ffffff;
    letter-spacing: -1px;
    font-weight: 500;
    font-size: 125%;
    position: relative;
    left: 100px;
    top: 150px
}

.TwitterImage {
    width: 40px;
    border: solid;
    border-radius: 50%;
    border-width: 2px;
    box-sizing: content-box;
    border-color: #f12334;
    padding: 5px;
}

.DiscordImage {
    width: 40px;
    border: solid;
    border-radius: 50%;
    border-width: 2px;
    box-sizing: content-box;
    border-color: #f12334;
    padding: 5px;
    
}

.DiscordButton {
    position: relative;
    left: 12px;
}

.Holder {
    position: relative;
    left: 20px;
    top: 30px
}


.HomeButton {
    background: none;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 150%;
    position: relative;
    top: -360px;
    left: 900px;
    text-decoration: none;
    font-family: sans-serif;
}

.InfoButton {
    background: none;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 150%;
    position: relative;
    top: -360px;
    text-decoration: none;
    left: 920px;
    font-family: sans-serif;
}

.ServiceButton {
    background: none;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 150%;
    position: relative;
    top: -360px;
    text-decoration: none;
    left: 940px;
    font-family: sans-serif;
}

.ContactButton {
    background: none;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 150%;
    position: relative;
    top: -360px;
    text-decoration: none;
    left: 960px;
    font-family: sans-serif;
}

.HomepageScrollInfoTitle {
    font-family:sans-serif;
    color: #ffffff;
    letter-spacing: -1px;
    font-weight: 600;
    font-size: 220%;
}

.HomepageScrollInformation {
    position: relative;
    left: 950px;
    top: 300px;
}

.ScrollInformation {
    font-family:sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 125%;
    position: relative;
    left: -100px;
    top: 25px
}

.HomeButton:hover {
    cursor: pointer;
}

.InfoButton:hover {
    cursor: pointer;
}

.ServiceButton:hover {
    cursor: pointer;
}

.ContactButton:hover {
    cursor: pointer;
}

.SocialButtons {
    position: relative;
    left: 120px;
    top: 190px;
}

.TopButtons {
    position: relative;
    left: 140px;
    top: 30px;
}
                                                                    
.InfoHeader {
    font-family:sans-serif;
    color: #e44856;
    letter-spacing: -1px;
    font-weight: 800;
    font-size: 250%;
    position: absolute;
    
}